

body{
    background-color:#68B2AA;
    background-image: url(background1.png);
    justify-content: center;
    align-content: center;
}
canvas{
    margin-left: 30%;
    margin-right: 25%;
   
    border:solid 10px #050505;
}

#title{
    position:absolute;
    left:50px;
    top:170px;
    font-family:cursive;
    font-style:italic;
    font-weight: bolder;
    font-size: 40px;
    color: #030303;
    text-shadow: 3px 3px 4px rgb(90, 91, 92);
}
#sub{
    position:absolute;
    left:120px;
    top:270px;
    font-family:cursive;
    font-style:italic;
    font-weight: bolder;
    font-size: 20px;
    color: #040404;
    text-shadow: 3px 3px 4px rgb(90, 91, 91);
}
